Smart_wireless_Protect_USB/Smart_wireless_Protect_USB/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8124/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8124/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_OverlapID_InputMessage">
    <wsdl:part name="parameters" element="tns:OverlapID" />
  </wsdl:message>
  <wsdl:message name="IService1_OverlapID_OutputMessage">
    <wsdl:part name="parameters" element="tns:OverlapIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OverlapPhoneNum_InputMessage">
    <wsdl:part name="parameters" element="tns:OverlapPhoneNum" />
  </wsdl:message>
  <wsdl:message name="IService1_OverlapPhoneNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:OverlapPhoneNumResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_JoinMember_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinMember" />
  </wsdl:message>
  <wsdl:message name="IService1_JoinMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginIDCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginIDCheck" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginIDCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginIDCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginPWCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginPWCheck" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginPWCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginPWCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginIDPWCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginIDPWCheck" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginIDPWCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginIDPWCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="OverlapID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OverlapID" message="tns:IService1_OverlapID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OverlapIDResponse" message="tns:IService1_OverlapID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OverlapPhoneNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OverlapPhoneNum" message="tns:IService1_OverlapPhoneNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OverlapPhoneNumResponse" message="tns:IService1_OverlapPhoneNum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/JoinMember" message="tns:IService1_JoinMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/JoinMemberResponse" message="tns:IService1_JoinMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginIDCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginIDCheck" message="tns:IService1_LoginIDCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginIDCheckResponse" message="tns:IService1_LoginIDCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginPWCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginPWCheck" message="tns:IService1_LoginPWCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginPWCheckResponse" message="tns:IService1_LoginPWCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginIDPWCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginIDPWCheck" message="tns:IService1_LoginIDPWCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginIDPWCheckResponse" message="tns:IService1_LoginIDPWCheck_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#NetTcpBinding_IService1_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="OverlapID">
      <soap12:operation soapAction="http://tempuri.org/IService1/OverlapID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OverlapPhoneNum">
      <soap12:operation soapAction="http://tempuri.org/IService1/OverlapPhoneNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinMember">
      <soap12:operation soapAction="http://tempuri.org/IService1/JoinMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginIDCheck">
      <soap12:operation soapAction="http://tempuri.org/IService1/LoginIDCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginPWCheck">
      <soap12:operation soapAction="http://tempuri.org/IService1/LoginPWCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginIDPWCheck">
      <soap12:operation soapAction="http://tempuri.org/IService1/LoginIDPWCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="NetTcpBinding_IService1" binding="tns:NetTcpBinding_IService1">
      <soap12:address location="net.tcp://localhost:8123/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8123/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>IS-LAB21\mgkim</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>